body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #2C2F35;
    font-family: Arial, sans-serif;
}

.photo-button {
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;
    width: 500px;
    height: 500px;
}
.photo-button img {
    width: 100%;
    height: auto;
    display: block;
}

#counter {
    font-size: 150px;
    margin-bottom: 100px;
    color: aliceblue;
}
.photo-button:hover img {
    filter: brightness(0.9);
}
@media (max-width: 1500px) {
    .photo-button {
        width: 350px;
        height: 350px;
    }
    #counter {
        font-size: 100px;
        margin-bottom: 70px;
    }
}
@media (max-width: 800px) {
    .photo-button {
        width: 300px;
        height: 300px;
    }
    #counter {
        font-size: 70px;
        margin-bottom: 60px;
    }
}
@media (max-width: 350px) {
    .photo-button {
        width: 250px;
        height: 250px;
    }
    #counter {
        font-size: 50px;
        margin-bottom: 40px;
    }
}